{% extends "default.html" %}
{% block title %}Ricerca Anime{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

{% if allAnime|length == 0 %}
<h1 class="text-light">Non ho trovato una ciola</h1>
{% else %}
<h1 class="text-light">Risultati ottenuti da: "{{search_text}}"</h1>
{% endif %}

<div class="row">
    {% for item in allAnime %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{item.image}}" class="card-img-top" alt="..." max>
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <a href="/anime/{{item.name}}" class="btn btn-primary">Vai all'anime</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}